<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<Configuration status="WARN">
<Properties>
    <property name="base_path">log</property>
    -->
    <property name="rolling_max">50</property>
    <property name="every_file_size">256MB</property>
</Properties>

<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{ISO8601} %p [%t] %c - %m%n"/>
    </Console>

    <RollingFile name="RollingFile" fileName="${base_path}/${sys:log.path.prefix}.log"
                 filePattern="${base_path}/%d{yyyy-MM}/${sys:log.path.prefix}-%d{yyyy-MM-dd}-%i.log.gz">
        <PatternLayout>
            <Pattern>%d{ISO8601} %p [%t] %c - %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1"/>
            <SizeBasedTriggeringPolicy size="${every_file_size}"/>
        </Policies>
        <DefaultRolloverStrategy max="${rolling_max}"/>
    </RollingFile>
</Appenders>
<Loggers>
    <Root level="info">
        <AppenderRef ref="RollingFile"/>
    </Root>
</Loggers>
</Configuration>
