/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../variables';
@import '../../../blueprint-overrides/common/colors';

.query-input {
  .ace-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .ace-solarized-dark {
      background-color: transparent;
    }

    .ace_gutter {
      background-color: $gray5;
      color: $gray1;

      .bp3-dark & {
        background-color: $dark-gray4;
        color: $gray5;
      }
    }

    .ace_placeholder {
      // This padding is needed because there is a bug in this current version of ACE Editor where the padding set in
      // code is not being applied to the placeholder element
      margin-top: 10px;
    }

    .ace_gutter-active-line {
      background-color: rgba($gray1, 0.6);
    }

    .ace_text-layer {
      filter: brightness(1.3) saturate(0.8);
    }
  }
}

.ace_tooltip {
  padding: 10px;
  color: #c1ccd5;
  width: 500px;
  display: block;
  height: auto;
  white-space: initial;
  background: $gray2;

  .bp3-dark & {
    background: $dark-gray2;
  }

  .doc-name {
    font-size: 18px;
    border-bottom: 2px solid gray;
    padding-bottom: 4px;
  }

  .doc-syntax {
    padding-top: 8px;
    padding-bottom: 10px;
  }
}
