@import url(//fonts.googleapis.com/css?family=Roboto:400,700,400italic,500);
/* line 17, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 37, ../src/client/druid.scss */
html {
  font-family: Roboto,Helvetica,Arial,freesans,clean,sans-serif;
  width: 100%;
  height: 100%;
  font-size: 13px;
  cursor: default;
  background: #22222A;
}
/* line 46, ../src/client/druid.scss */
html a, html a:link, html a:visited {
  text-decoration: none;
  color: #d8d8dd;
}
/* line 50, ../src/client/druid.scss */
html a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 56, ../src/client/druid.scss */
body {
  color: #858597;
  background: #22222a;
  height: 100%;
}
/* line 61, ../src/client/druid.scss */
body header {
  min-height: 40px;
  max-height: 40px;
  padding-top: 4px;
  width: 100%;
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
}
/* line 77, ../src/client/druid.scss */
body header > * {
  align-self: flex-start;
}
/* line 80, ../src/client/druid.scss */
body header h1 {
  padding-left: 8px;
  min-width: 239px;
  color: #fefefe;
  font-size: 24px;
  font-size: 24px;
  line-height: 1.5;
  color: #858597;
  border-bottom: none;
}
/* line 89, ../src/client/druid.scss */
body header h1 span.data-source-name {
  color: #fefefe;
}
/* line 92, ../src/client/druid.scss */
body header h1 a:link, body header h1 a:visited {
  color: #fefefe;
}
/* line 95, ../src/client/druid.scss */
body header h1 a:hover {
  color: #8968ad;
}
/* line 98, ../src/client/druid.scss */
body header h1 .summary {
  font-size: 14px;
}
/* line 104, ../src/client/druid.scss */
body header .nav {
  font-size: 16px;
  width: 239px;
  min-width: 239px;
  max-width: 239px;
}
/* line 109, ../src/client/druid.scss */
body header .nav li a {
  color: #d8d8dd;
  padding: 8px 15px;
}
/* line 112, ../src/client/druid.scss */
body header .nav li a:hover {
  color: #fefefe;
  background: #858597;
}
/* line 118, ../src/client/druid.scss */
body header .nav li.active a {
  background: #3f6e94;
}
/* line 120, ../src/client/druid.scss */
body header .nav li.active a:hover {
  background: #3f6e94;
  color: #22222a;
}
/* line 127, ../src/client/druid.scss */
body header div.og-console-links {
  line-height: 1.3;
  border-left: 1px solid #1b1a20;
  padding: 0px 4px;
}
/* line 131, ../src/client/druid.scss */
body header div.og-console-links a {
  /* unvisited link */
  color: #9a7795;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 133, ../src/client/druid.scss */
body header div.og-console-links a:visited {
  color: #9a7795;
}
/* line 134, ../src/client/druid.scss */
body header div.og-console-links a:hover {
  color: #b25fa5;
}
/* line 135, ../src/client/druid.scss */
body header div.og-console-links a:active {
  color: #b25fa5;
}
/* line 140, ../src/client/druid.scss */
body .primary-view .breadcrumb {
  font-size: 18px;
  padding: 8px;
  margin: 0px;
  background: #1b1a20;
}
/* line 145, ../src/client/druid.scss */
body .primary-view .breadcrumb > li + li:before {
  color: #d8d8dd;
}
/* line 148, ../src/client/druid.scss */
body .primary-view .breadcrumb a, body .primary-view .breadcrumb a:visited {
  color: #858597;
}
/* line 151, ../src/client/druid.scss */
body .primary-view .breadcrumb > .active {
  color: #fefefe;
}
/* line 156, ../src/client/druid.scss */
body .cluster-view, body .data-sources-view, body .data-source-view {
  display: flex;
  display: -webkit-flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  -webkit-flex-flow: column nowrap;
}
/* line 164, ../src/client/druid.scss */
body .cluster-view h1, body .cluster-view h2, body .data-sources-view h1, body .data-sources-view h2, body .data-source-view h1, body .data-source-view h2 {
  color: #858597;
  background: #2E2E38;
  line-height: 1.5;
  border-bottom: 1px solid #1b1a20;
  padding: 0px 8px;
}
/* line 172, ../src/client/druid.scss */
body .cluster-view #middle, body .data-sources-view #middle, body .data-source-view #middle {
  flex: 1;
  -webkit-flex: 1;
  width: 100vw;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
  border-top: 1px solid #1b1a20;
}
/* line 185, ../src/client/druid.scss */
body .tier.hot {
  color: #f16065;
}
/* line 188, ../src/client/druid.scss */
body .tier._default_tier {
  color: #5ca0d7;
}
/* line 193, ../src/client/druid.scss */
body .data-source-view .rules, body .data-source-view .timeline {
  border-top: 1px solid #1b1a20;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
/* line 201, ../src/client/druid.scss */
body .data-source-view .rules h2, body .data-source-view .timeline h2 {
  font-size: 18px;
  border-bottom: none;
  border-right: 1px solid #1b1a20;
  min-width: 240px;
  max-width: 240px;
  width: 240px;
}
/* line 208, ../src/client/druid.scss */
body .data-source-view .rules h2 > div, body .data-source-view .timeline h2 > div {
  margin-left: 1em;
  font-size: 14px;
}
/* line 215, ../src/client/druid.scss */
body .data-source-view .timeline {
  height: 150px;
}
/* line 219, ../src/client/druid.scss */
body .data-source-view .timeline h2 .download {
  margin-top: 8px;
}
/* line 223, ../src/client/druid.scss */
body .data-source-view .timeline > div {
  width: 100%;
}
/* line 228, ../src/client/druid.scss */
body .data-source-view .rules {
  height: 75px;
}
/* line 231, ../src/client/druid.scss */
body .data-source-view .rules .rule {
  padding: 4px 8px;
}
/* line 233, ../src/client/druid.scss */
body .data-source-view .rules .rule .default {
  color: #e69545;
}
/* line 237, ../src/client/druid.scss */
body .data-source-view .rules .rule .type .load {
  color: #5ca0d7;
}
/* line 240, ../src/client/druid.scss */
body .data-source-view .rules .rule .type .drop {
  color: #f16065;
}
/* line 244, ../src/client/druid.scss */
body .data-source-view .rules .rule .period, body .data-source-view .rules .rule .interval {
  color: #fefefe;
}
/* line 250, ../src/client/druid.scss */
body .data-source-view #intervals-segments {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  width: 100vw;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
}
/* line 259, ../src/client/druid.scss */
body .data-source-view #intervals-segments h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
/* line 264, ../src/client/druid.scss */
body .data-source-view #intervals-segments .dynamic-list {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 272, ../src/client/druid.scss */
body .data-source-view #intervals-segments .time-sep {
  color: rgba(133, 133, 151, 0.3);
}
/* line 276, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master {
  flex: 1;
  -webkit-flex: 1;
  max-width: 240px;
  width: 240px;
  border-right: 1px solid #1b1a20;
  display: block;
  position: relative;
  font-size: 14px;
}
/* line 286, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master input {
  width: 8em;
}
/* line 289, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table {
  margin-left: 16px;
}
/* line 291, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table .count, body .data-source-view #intervals-segments .intervals-master table .size {
  text-align: right;
}
/* line 294, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table td, body .data-source-view #intervals-segments .intervals-master table th {
  padding: 2px 4px;
}
/* line 297, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table tbody {
  line-height: 1.3;
}
/* line 300, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table tbody tr:hover {
  color: #d8d8dd;
  background: #1b1a20;
}
/* line 304, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table tbody tr td {
  padding: 2px 4px;
}
/* line 307, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-master table tbody tr:nth-child(3n) {
  border-bottom: 1px solid #3c3c47;
}
/* line 314, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail {
  flex: 1;
  -webkit-flex: 1;
  font-size: 14px;
}
/* line 318, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment, body .data-source-view #intervals-segments .intervals-detail .loading, body .data-source-view #intervals-segments .intervals-detail .info {
  background: #2E2E38;
  border: 1px solid #1b1a20;
  border-radius: 15px;
  padding: 8px;
  margin: 8px 8px 0px 8px;
  max-width: 600px;
  font-size: 13px;
}
/* line 327, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-flow: column nowrap;
}
/* line 333, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .segment-id {
  text-align: center;
}
/* line 335, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .segment-id a:link, body .data-source-view #intervals-segments .intervals-detail .segment .segment-id a:visited {
  color: #2a6496;
}
/* line 338, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .segment-id a:hover {
  color: #428bca;
}
/* line 346, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .s3 i {
  color: #e47911;
}
/* line 351, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .summary {
  font-size: 16px;
}
/* line 355, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment .summary :nth-child(3), body .data-source-view #intervals-segments .intervals-detail .segment .specifics :nth-child(3) {
  text-align: right;
}
/* line 359, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment > * {
  width: 100%;
  flex: 1;
  -webkit-flex: 1;
  margin: 4px 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
}
/* line 370, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .segment > * > * {
  flex: 1;
  -webkit-flex: 1;
}
/* line 376, ../src/client/druid.scss */
body .data-source-view #intervals-segments .intervals-detail .loading {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
/* line 394, ../src/client/druid.scss */
body .cluster-view #data-sources h2, body .data-sources-view #data-sources h2 {
  font-size: 24px;
}
/* line 397, ../src/client/druid.scss */
body .cluster-view #data-sources table, body .data-sources-view #data-sources table {
  border-collapse: inherit;
  padding: 0px 8px;
}
/* line 400, ../src/client/druid.scss */
body .cluster-view #data-sources table td:first-child, body .cluster-view #data-sources table th:first-child, body .data-sources-view #data-sources table td:first-child, body .data-sources-view #data-sources table th:first-child {
  width: 16px;
}
/* line 403, ../src/client/druid.scss */
body .cluster-view #data-sources table td.name, body .data-sources-view #data-sources table td.name {
  font-size: 16px;
  line-height: 1.5;
}
/* line 406, ../src/client/druid.scss */
body .cluster-view #data-sources table td.name > a:after, body .data-sources-view #data-sources table td.name > a:after {
  content: "\00a0";
}
/* line 410, ../src/client/druid.scss */
body .cluster-view #data-sources table td.name .rule-editor-link, body .data-sources-view #data-sources table td.name .rule-editor-link {
  font-size: 85%;
}
/* line 412, ../src/client/druid.scss */
body .cluster-view #data-sources table td.name .rule-editor-link a, body .data-sources-view #data-sources table td.name .rule-editor-link a {
  color: #c8c8c8;
}
/* line 414, ../src/client/druid.scss */
body .cluster-view #data-sources table td.name .rule-editor-link a:hover, body .data-sources-view #data-sources table td.name .rule-editor-link a:hover {
  color: #fefefe;
}
/* line 420, ../src/client/druid.scss */
body .cluster-view #data-sources table td.rules, body .data-sources-view #data-sources table td.rules {
  width: 240px;
}
/* line 424, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source, body .data-sources-view #data-sources tr.data-source {
  line-height: 1.3;
}
/* line 427, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source.unhappy .name, body .data-sources-view #data-sources tr.data-source.unhappy .name {
  font-weight: bold;
  color: #EEE;
}
/* line 431, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source .load-status, body .cluster-view #data-sources tr.data-source .replication, body .data-sources-view #data-sources tr.data-source .load-status, body .data-sources-view #data-sources tr.data-source .replication {
  padding-right: 0.2em;
}
/* line 435, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source .load-status.loaded, body .data-sources-view #data-sources tr.data-source .load-status.loaded {
  color: #5ca0d7;
}
/* line 438, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source .load-status.one-percent, body .data-sources-view #data-sources tr.data-source .load-status.one-percent {
  color: #c6c631;
}
/* line 441, ../src/client/druid.scss */
body .cluster-view #data-sources tr.data-source .load-status.unloaded, body .data-sources-view #data-sources tr.data-source .load-status.unloaded {
  color: #f16065;
}
/* line 447, ../src/client/druid.scss */
body .cluster-view #data-sources tr.key td, body .data-sources-view #data-sources tr.key td {
  padding-top: 1em;
}
/* line 455, ../src/client/druid.scss */
body .cluster-view #data-sources {
  width: 240px;
  border-right: 1px solid #1b1a20;
}
/* line 461, ../src/client/druid.scss */
body .cluster-view #tiers {
  vertical-align: top;
}
/* line 464, ../src/client/druid.scss */
body .cluster-view #tiers .tier {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #1b1a20;
}
/* line 470, ../src/client/druid.scss */
body .cluster-view #tiers .tier h2 {
  font-size: 24px;
}
/* line 472, ../src/client/druid.scss */
body .cluster-view #tiers .tier h2 .queue {
  font-size: 12px;
}
/* line 474, ../src/client/druid.scss */
body .cluster-view #tiers .tier h2 .queue.load {
  color: #EEE;
}
/* line 476, ../src/client/druid.scss */
body .cluster-view #tiers .tier h2 .queue.load .bytes {
  color: #f16065;
  font-weight: bold;
}
/* line 487, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity g.capacity rect.maxSize, body .cluster-view #tiers .tier tr.node rect.maxSize {
  fill: #5ca0d7;
  opacity: 0.75;
}
/* line 491, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity g.capacity rect.currSize, body .cluster-view #tiers .tier tr.node rect.currSize {
  fill: #f16065;
}
/* line 497, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity {
  padding: 0px 4px;
  padding-top: 0.5em;
  padding-bottom: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-flow: row nowrap;
}
/* line 507, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels {
  width: 168px;
  height: 180px;
  padding-left: 0.5em;
}
/* line 512, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .value {
  color: #c8c8c8;
}
/* line 516, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .top-labels > * {
  margin-bottom: 4px;
}
/* line 521, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .bottom-labels {
  position: absolute;
  bottom: 0px;
}
/* line 524, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .bottom-labels > * {
  margin-top: 4px;
}
/* line 529, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .resilience {
  line-height: 1;
  font-size: 24px;
  font-weight: bold;
  color: #fefefe;
}
/* line 535, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .free {
  font-size: 18px;
  font-weight: bold;
}
/* line 538, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .free .value {
  color: #fefefe;
}
/* line 542, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .maxSize {
  font-size: 18px;
}
/* line 547, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-capacity div.labels .currSize {
  font-size: 16px;
}
/* line 556, ../src/client/druid.scss */
body .cluster-view #tiers .tier g.nodes .node {
  fill: #ebeb3a;
  opacity: 0.66;
}
/* line 563, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history svg {
  margin-top: 1em;
}
/* line 564, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history text {
  fill: white;
  opacity: 0.75;
}
/* line 568, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history path.maxSize {
  fill: #5ca0d7;
  stroke: none;
  opacity: 0.75;
}
/* line 573, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history path.currSize {
  fill: #f16065;
  stroke: none;
}
/* line 578, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history .axis line {
  stroke: #22222a;
  opacity: 0.15;
  shape-rendering: crispEdges;
}
/* line 583, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history .axis text {
  font-size: 7px;
}
/* line 587, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history text.label {
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
}
/* line 592, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history a.dash-link {
  cursor: pointer;
}
/* line 596, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history rect.delta.positive {
  fill: #3cb349;
}
/* line 599, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.capacity-history rect.delta.negative {
  fill: #f16065;
}
/* line 605, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.growth {
  line-height: 1.3;
}
/* line 607, ../src/client/druid.scss */
body .cluster-view #tiers .tier div.growth span.value {
  color: #C8C8C8;
}
/* line 612, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-nodes table {
  margin-left: 4px;
}
/* line 615, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-nodes table tr.node text {
  fill: white;
  alignment-baseline: central;
}
/* line 619, ../src/client/druid.scss */
body .cluster-view #tiers .tier tier-nodes table tr.node td.host {
  padding-left: 0.25em;
}
/* line 630, ../src/client/druid.scss */
body .data-sources-view #data-sources {
  width: 100%;
}
/* line 632, ../src/client/druid.scss */
body .data-sources-view #data-sources > table {
  width: 100%;
}
/* line 636, ../src/client/druid.scss */
body .data-sources-view #data-sources > table td:first-child, body .data-sources-view #data-sources > table th:first-child {
  width: 16px;
}
/* line 639, ../src/client/druid.scss */
body .data-sources-view #data-sources > table td:nth-child(2), body .data-sources-view #data-sources > table th:nth-child(2) {
  width: 224px;
}
/* line 644, ../src/client/druid.scss */
body .data-sources-view #data-sources > table tbody tr:hover {
  background: #2E2E38;
}
/* line 648, ../src/client/druid.scss */
body .data-sources-view #data-sources > table td.footprint {
  padding: 4px 6px;
}
/* line 653, ../src/client/druid.scss */
body .data-sources-view .disabled-data-sources {
  padding: 0px 8px;
}
/* line 655, ../src/client/druid.scss */
body .data-sources-view .disabled-data-sources li {
  font-size: 16px;
  line-height: 1.75;
}
/* line 665, ../src/client/druid.scss */
body svg.rules-timeline ._default_tier rect, body svg.timeline ._default_tier rect {
  fill: #5ca0d7;
}
/* line 670, ../src/client/druid.scss */
body svg.rules-timeline .hot rect, body svg.timeline .hot rect {
  fill: #f16065;
}
/* line 675, ../src/client/druid.scss */
body svg.rules-timeline .days rect, body svg.timeline .days rect {
  fill: #33a680;
}
/* line 677, ../src/client/druid.scss */
body svg.rules-timeline .days rect:hover, body svg.timeline .days rect:hover {
  stroke-width: 2px;
  stroke: #c6c631;
}
/* line 684, ../src/client/druid.scss */
body svg.rules-timeline text, body svg.timeline text {
  text-anchor: end;
}
/* line 690, ../src/client/druid.scss */
body svg.rules-timeline.with-footprint .load rect, body svg.rules-timeline.with-footprint .drop rect, body svg.timeline.with-footprint .load rect, body svg.timeline.with-footprint .drop rect {
  opacity: 0.33;
}
/* line 697, ../src/client/druid.scss */
body svg.rules-timeline .rules text, body svg.timeline .rules text {
  opacity: 0.75;
  fill: #eee;
}
/* line 703, ../src/client/druid.scss */
body svg.rules-timeline .axis, body svg.timeline .axis {
  shape-rendering: crispEdges;
}
/* line 707, ../src/client/druid.scss */
body svg.rules-timeline .x.axis text, body svg.timeline .x.axis text {
  font-size: 11px;
  fill: #858597;
}
/* line 711, ../src/client/druid.scss */
body svg.rules-timeline .x.axis line, body svg.timeline .x.axis line {
  stroke: #e69545;
  opacity: 0.5;
}
/* line 716, ../src/client/druid.scss */
body svg.rules-timeline .x.axis .minor, body svg.timeline .x.axis .minor {
  stroke-opacity: .5;
}
/* line 719, ../src/client/druid.scss */
body svg.rules-timeline .x.axis path, body svg.timeline .x.axis path {
  display: none;
}
/* line 726, ../src/client/druid.scss */
body svg.timeline .rules rect {
  opacity: 0.33;
}
/* line 776, ../src/client/druid.scss */
body .rules-editor {
  flex-direction: column;
  -webkit-flex-flow: column nowrap;
}
/* line 780, ../src/client/druid.scss */
body .rules-editor h1 {
  font-size: 18px;
}
/* line 783, ../src/client/druid.scss */
body .rules-editor .rule {
  height: 120px;
  margin-bottom: 10px;
}
/* line 787, ../src/client/druid.scss */
body .rules-editor .rule:not(:first-child) {
  border-top: 1px solid #858597;
  padding-top: 8px;
  height: 129px;
}
/* line 792, ../src/client/druid.scss */
body .rules-editor .rule .summary {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 795, ../src/client/druid.scss */
body .rules-editor .rule .summary .rule {
  color: #fefefe;
}
/* line 799, ../src/client/druid.scss */
body .rules-editor .rule .edit {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 1em;
  flex-direction: row;
  justify-content: flex-start;
}
/* line 805, ../src/client/druid.scss */
body .rules-editor .rule .edit > * {
  flex: initial;
  -webkit-flex: initial;
  margin-right: 1em;
}
/* line 809, ../src/client/druid.scss */
body .rules-editor .rule .edit > *:last-child {
  margin-right: 0px;
}
/* line 813, ../src/client/druid.scss */
body .rules-editor .rule .edit .interval-period {
  width: 200px;
}
/* line 815, ../src/client/druid.scss */
body .rules-editor .rule .edit .interval-period input {
  margin-bottom: 10px;
}
/* line 818, ../src/client/druid.scss */
body .rules-editor .rule .edit .interval-period .alert {
  margin-bottom: 0;
}
/* line 822, ../src/client/druid.scss */
body .rules-editor .rule .edit .replicants {
  width: 160px;
}
/* line 824, ../src/client/druid.scss */
body .rules-editor .rule .edit .replicants .replicant {
  white-space: nowrap;
  margin-bottom: 5px;
}
/* line 827, ../src/client/druid.scss */
body .rules-editor .rule .edit .replicants .replicant input[type=number] {
  width: 2.5em;
}
/* line 830, ../src/client/druid.scss */
body .rules-editor .rule .edit .replicants .replicant button {
  vertical-align: baseline;
}
/* line 837, ../src/client/druid.scss */
body .rules-editor .alert {
  padding: 10px 12px;
}

/* line 843, ../src/client/druid.scss */
#floatingCirclesG {
  position: relative;
  width: 128px;
  height: 128px;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

/* line 851, ../src/client/druid.scss */
.f_circleG {
  position: absolute;
  background-color: #2E2E38;
  height: 23px;
  width: 23px;
  -webkit-border-radius: 12px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 1.04s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 1.04s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

/* line 868, ../src/client/druid.scss */
#frotateG_01 {
  left: 0;
  top: 52px;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

/* line 875, ../src/client/druid.scss */
#frotateG_02 {
  left: 15px;
  top: 15px;
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
}

/* line 882, ../src/client/druid.scss */
#frotateG_03 {
  left: 52px;
  top: 0;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

/* line 889, ../src/client/druid.scss */
#frotateG_04 {
  right: 15px;
  top: 15px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

/* line 896, ../src/client/druid.scss */
#frotateG_05 {
  right: 0;
  top: 52px;
  -webkit-animation-delay: 0.91s;
  animation-delay: 0.91s;
}

/* line 903, ../src/client/druid.scss */
#frotateG_06 {
  right: 15px;
  bottom: 15px;
  -webkit-animation-delay: 1.04s;
  animation-delay: 1.04s;
}

/* line 910, ../src/client/druid.scss */
#frotateG_07 {
  left: 52px;
  bottom: 0;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}

/* line 917, ../src/client/druid.scss */
#frotateG_08 {
  left: 15px;
  bottom: 15px;
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

@-webkit-keyframes f_fadeG {
  /* line 925, ../src/client/druid.scss */
  0% {
    background-color: #858597;
  }

  /* line 928, ../src/client/druid.scss */
  100% {
    background-color: #2E2E38;
  }
}

@keyframes f_fadeG {
  /* line 934, ../src/client/druid.scss */
  0% {
    background-color: #858597;
  }

  /* line 937, ../src/client/druid.scss */
  100% {
    background-color: #2E2E38;
  }
}
