dist
target
*.iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
*.pyc
.classpath
.idea/
.project
.PVS-Studio
.settings/
.vscode
*.log
.DS_Store
_site
dependency-reduced-pom.xml
LICENSE.BINARY
NOTICE.BINARY
README.BINARY
README
*.lock
.pmd
.pmdruleset.xml
.java-version
integration-tests/gen-scripts/
/bin/
*.hprof
**/.ipynb_checkpoints/
website/.yarn/
website/node_modules/
website/.docusaurus/
website/build/

# Local Netlify folder
.netlify
*.pyc
**/.ipython/
**/.jupyter/
**/.local/
**/druidapi.egg-info/
examples/quickstart/jupyter-notebooks/docker-jupyter/notebooks
website/i18n/*
# ignore NetBeans IDE specific files
nbproject
nbactions.xml
nb-configuration.xml
