language: java

dist: precise

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

matrix:
  include:
      # strict compilation
    - sudo: false
      install: true
      # Strict compilation requires more than 2 GB
      script: echo "MAVEN_OPTS='-Xmx3000m'" > ~/.mavenrc && mvn clean -Pstrict -pl '!benchmarks' compile test-compile -B

      # processing module test
    - sudo: false
      install: mvn install -q -ff -DskipTests -B
      script: mvn test -B -Pparallel-test -Dmaven.fork.count=2 -pl processing

      # non-processing modules test
    - sudo: false
      install: mvn install -q -ff -DskipTests -B
      script: mvn test -B -Pparallel-test -Dmaven.fork.count=2 -pl '!processing'

      # run integration tests
    - sudo: required
      dist: trusty
      services:
        - docker
      env:
        - DOCKER_IP=172.17.0.1
      install:
        # Only errors will be shown with the -q option. This is to avoid generating too many logs which make travis build failed.
        - mvn install -q -ff -DskipTests -B
      script:
        - $TRAVIS_BUILD_DIR/ci/travis_script_integration.sh
