language: java

jdk:
  - oraclejdk8

script: mvn clean -Pstrict -pl '!benchmarks' compile test-compile -B && mvn test -B -Pparallel-test -Dmaven.fork.count=2

install: true

sudo: false

cache:
  directories:
      - $HOME/.m2

