/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../variables';
@import '../../blueprint-overrides/common/colors';

.header-bar {
  overflow: hidden;

  .druid-logo {
    position: relative;
    width: 100px;
    height: $header-bar-height;
    overflow: hidden;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 48px;

      .letter {
        fill: $dark-gray2;
      }

      .swirl {
        fill: $druid-brand2;
      }

      .#{$bp-ns}-dark & {
        .letter {
          fill: $white;
        }

        .swirl {
          fill: $druid-brand;
        }
      }
    }
  }

  * {
    white-space: nowrap;
  }

  .#{$bp-ns}-navbar-divider {
    margin: 0 11px;
  }

  .header-entry {
    .#{$bp-ns}-icon {
      svg {
        fill: $blue3;

        .#{$bp-ns}-dark & {
          fill: $druid-brand;
        }
      }
    }
  }

  .#{$bp-ns}-button.#{$bp-ns}-minimal {
    border-radius: 20px;
    margin: 0 1px;

    .#{$bp-ns}-dark & {
      &:hover {
        background: rgba($dark-gray5, 0.5);
      }

      &.#{$bp-ns}-active {
        background: rgba($dark-gray5, 0.9);
      }
    }
  }
}
