/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '~normalize.css/normalize';
@import '~fontsource-open-sans/index.css';
@import './blueprint-overrides';
@import '~@blueprintjs/core/src/blueprint';
@import '~@blueprintjs/datetime/src/blueprint-datetime';
@import '~@blueprintjs/popover2/src/blueprint-popover2';
@import '~react-splitter-layout/lib/index';
@import './react-table/react-table-base-styles';
@import './react-table/react-table-extra';

html,
body {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  overscroll-behavior-x: none;
}

body {
  background: $light-gray4;

  &.#{$bp-ns}-dark {
    background: $dark-gray2;
  }

  &.mouse-mode {
    *:focus {
      outline: none !important;
    }
  }
}

.app-container {
  position: absolute;
  height: 100%;
  width: 100%;

  .console-application {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
