/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../node_modules/normalize.css/normalize';
@import '../node_modules/@blueprintjs/core/lib/css/blueprint';
@import '../lib/react-table';
@import '../node_modules/react-splitter-layout/lib/index.css';

html,
body {
  //font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
}

body {
  &.bp3-dark {
    background: rgb(41, 55, 66);
  }

  &.mouse-mode {
    *:focus {
      outline: none !important;
    }
  }
}

svg {
  width: auto;
  height: auto;
}

.app-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.label-info-text {
  max-width: 400px;
  padding: 15px;

  p:last-child {
    margin-bottom: 0;
  }
}

.bp3-form-group {
  .bp3-form-content {
    position: relative;

    & > .bp3-popover-wrapper {
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
}

// Some SplitterLayout globals
