/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.execution-progress-pane {
  position: relative;

  .execution-progress-bar-pane {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
  }

  .execution-stages-pane {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.stale {
    .execution-progress-bar-pane,
    .execution-stages-pane {
      opacity: 0.7;
    }
  }

  .network-error-notification {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: 2px solid gray;
      border-radius: 10px;
      background: black;
      opacity: 0.5;
    }

    .message {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: yellow;
    }
  }
}
