/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$input-padding-horizontal: $pt-grid-size;
$input-small-padding: $pt-input-height-small - $pt-icon-size-standard;
$input-font-weight: 400;
$input-transition: box-shadow $pt-transition-duration $pt-transition-ease;

$input-color: $pt-text-color;
$input-color-disabled: $button-color-disabled;
$input-placeholder-color: $pt-text-color-disabled;
$input-background-color: $white;
$input-background-color-disabled: rgba($light-gray1, 0.5);
$input-shadow-color-focus: $pt-intent-primary;

$dark-input-color: $pt-dark-text-color;
$dark-input-color-disabled: $dark-button-color-disabled;
$dark-input-placeholder-color: $pt-dark-text-color-disabled;
$dark-input-background-color: $dark-gray4;
$dark-input-background-color-disabled: rgba($dark-gray5, 0.5);
$dark-input-shadow-color-focus: $pt-intent-primary;

$control-indicator-size: $pt-icon-size-standard;
$control-indicator-size-large: $pt-icon-size-large;

// avoids edge blurriness for light theme focused default input
// second box-shadow of $pt-input-box-shadow
$input-box-shadow-focus: inset 0 0 0 1px transparent;
