node/
node_modules/
resources/
public/
private/
lib/*.css
coverage/
.claude/
CLAUDE.md

coordinator-console/
pages/
/index.html

lib/sql-docs.*

.tscache
tscommand-*.tmp.txt

licenses.json
.druid.pid
