.sub-text {
   margin-top: 20px;
   margin-bottom: 50px;
}

.main-marketing {
   margin-bottom: 50px;
}

.main-marketing a {
   color: #000000;
}

h2 {
   font-weight: 400;
   font-size: 30px;
}

.main-marketing img {
   margin-bottom: 40px;
}