/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../../variables';

.resource-pane {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'search'
    'resources';

  .search-input {
    grid-area: search;
    margin: 4px;
  }

  .splitter-layout {
    grid-area: resources;

    .layout-splitter {
      background-color: $light-gray4;

      .#{$bp-ns}-dark & {
        border-bottom: 2px solid $dark-gray2;
      }
    }

    .resource-sub-pane {
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        'header'
        'list';

      .list-header {
        grid-area: header;
        padding: 6px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;

        .header-buttons {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .resource-list {
        grid-area: list;
        overflow: auto;

        .column-resource,
        .measure-resource {
          display: block;
        }
      }
    }
  }
}
