/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.history-dialog {
  &.bp3-dialog {
    width: 600px;
    top: 5%;
  }

  .history-record-container {
    padding: 15px 15px 0 15px;

    .history-dialog-title {
      padding-left: 10px;
      margin-bottom: 2px;
      font-size: 24px;
      font-weight: 600;
    }

    .no-record {
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .history-record-entries {
      margin: 10px 0;
      max-height: 60vh;
      overflow: scroll;

      .history-record-entry {
        padding: 5px;
        border-style: dot-dash;
        word-wrap: break-word;

        .bp3-card {
          padding-bottom: 10px;
        }

        .history-record-title {
          justify-content: space-between;
          display: flex;
          margin-bottom: 5px;

          .history-record-title-change {
            font-weight: 600;
            font-size: 16px;
          }
        }

        .json-collapse {
          button {
            position: relative;
            left: 86%;
            margin-bottom: 5px;
          }

          textarea {
            width: 100%;
            height: 30vh;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
