<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="FileAppender" class="org.apache.log4j.FileAppender">
    <param name="File" value="druid_setup.log" />
    <param name="Append" value="false" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{ISO8601} %p [%t] %c - %m%n"/>
      </layout>
  </appender>

  <root>
    <priority value ="warn" />
    <appender-ref ref="FileAppender"/>
  </root>
</log4j:configuration>
