/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../variables';

.workbench-history-dialog {
  &.#{$bp-ns}-dialog {
    width: 90vw;
    height: 90vh;
  }

  .version-tabs {
    height: 100%;

    .#{$bp-ns}-tab-panel {
      position: relative;
      flex: 1;
    }

    .query-entry {
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;

      .query-info-bar {
        height: 32px;
        white-space: nowrap;

        & > * {
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
        }

        .#{$bp-ns}-switch {
          margin-top: 3px;
        }
      }

      .query-string {
        flex: 1;
        resize: none;
      }

      .execution-stages-pane {
        flex: 1;
        max-height: 50%;
      }
    }
  }

  .center-message {
    height: 400px;
  }
}

.json-popover-content {
  margin: 0;
  padding: 10px;
}
