/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * HTML
 */

body {
	font: 14px Helvetica, Arial, Verdana, sans-serif;
	color: #333;
	background-color: #fff;
}

.container {
  margin: 10px;
  padding: 0 0 20px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
  margin: 0 5px 0 5px;
  color:blue;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BODY
 */

.heading {
  background-color: #232B4A;
  color: #FF6000;
  padding: 10px;
  margin: 10px 0;
}

#selected_segments {
  height: 80px;
  border: 1px dashed #282D4D;
  font-size: 12px;
  overflow-y:scroll;
  margin: 10px 0;
  padding: 10px;
  color: #777;
}