/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../../../variables';

$default-chart-color: $druid-brand;

.continuous-chart-render {
  position: relative;
  overflow: hidden;
  height: 100%;

  svg.main-chart {
    position: absolute;

    text {
      user-select: none;
    }

    .selection {
      fill: white;
      fill-opacity: 0.1;

      &.finalized {
        fill-opacity: 0.15;
      }
    }

    .shifter {
      fill: white;
      fill-opacity: 0.2;
      filter: blur(1px);
    }

    .time-shift-indicator {
      fill: white;
      fill-opacity: 0.001;
      cursor: grab;

      &:hover {
        fill-opacity: 0.1;
      }

      &.shifting {
        fill-opacity: 0.2;
        cursor: grabbing;
      }
    }

    .now-line {
      stroke: $orange4;
      stroke-dasharray: 2, 2;
      opacity: 0.7;
    }
  }

  .zoom-out-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .empty-placeholder {
    @include pin-full;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    user-select: none;
    pointer-events: none;
  }
}

.continuous-chart-bubble {
  .button-bar {
    padding-top: 5px;
    display: flex;
    gap: 5px;
  }
}
