.doc-content pre, .doc-content pre code {
   overflow: auto;
   white-space: pre;
   word-wrap: normal;
}

.doc-content p {
   margin: 18px 0 18px 0;
}

/*** HACK: This is a horrible hack, but I have no clue why images don't want to stay in the container **/
.doc-content img {
   max-width: 847.5px;
}

.doc-content code {
   background-color: #e0e0e0;
}

.doc-content pre code {
   background-color: transparent;
}

.doc-content table,
.doc-content pre {
   margin: 35px 0 35px 0;
}

.doc-content table,
.doc-content table > thead > tr > th,
.doc-content table > tbody > tr > th,
.doc-content table > tfoot > tr > th,
.doc-content table > thead > tr > td,
.doc-content table > tbody > tr > td,
.doc-content table > tfoot > tr > td {
   border: 1px solid #dddddd;
}

.doc-content table > thead > tr > th,
.doc-content table > thead > tr > td {
   border-bottom-width: 2px;
}

.doc-content table > tbody > tr:nth-child(odd) > td,
.doc-content table > tbody > tr:nth-child(odd) > th {
   background-color: #f9f9f9;
}

.doc-content table > tbody > tr:hover > td,
.doc-content table > tbody > tr:hover > th {
   background-color: #d5d5d5;
}

.doc-content table code {
   background-color: transparent;
}

td, th {
  padding: 5px;
}
